<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='materialize/css/materialize.min.css') }}" media="screen">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<header class="section">
    <div class="container">
        <h2 class="header"><a href="/">Sets in InterPro</a></h2>
        <div class="input-field">
            <i class="material-icons prefix">search</i>
            <input id="search" type="text">
            <label for="search">Accession</label>
            <span class="helper-text">e.g. <a href="/set/CL0016/">CL0016</a>, <a href="/set/PTHR10000/">PTHR10000</a>, <a href="/set/PIRSF800009/">PIRSF800009</a></span>
        </div>
    </div>
</header>

<div class="divider"></div>
